@model CraftsPlanner.Models.Element.ElementDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the task "@Html.DisplayFor(model => model.ElementName)"?</h3>
<h4 style="color:red">This action cannot be undone.</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink(linkText: "Back", actionName: "Details", controllerName: "Project", htmlAttributes: null, routeValues: new { id = Model.ProjectId })
</div>
}
</div>
