@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rhi-Create</h1>
    <h6>(title pending)</h6>
    <p class="lead">
        As someone who loves to obsessively plan and organize my crafting projects, none of the other planning apps I've tried have all the features I want and enjoy in one place.
        My goal is to make a crafting oriented planning app that will allow me to keep track of all my progress and budgeting, as well as a way to organize my ideas in a way that works for me.
    </p>
    <br />
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Start Planning!", "Index", "Project", new { area = "" }, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Start Planning!", "Login", "Account", new { area = "" }, new { @class = "btn btn-default" });
        }
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming Features</h2>
        <p>
            There are many features I'm looking forward to adding to my planner!
            Check out my features roadmap here~
        </p>
        <p class="btn btn-default">
            //features
        </p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>More by Rhiannan here~</p>
        <p><a class="btn btn-default" href="#">Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List-ception</h2>
        <p>
            In its current state, this project is a list maker where you can make lists of lists within lists.
            Read more about its functionality here~
        </p>
        <p class="btn btn-default">
            //Rhi'd Me
        </p>
    </div>
</div>