@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Craft Planner</h1>
    <p class="lead">Craft Planner is an application meant to help organize your next project! Plan as in depth as you'd like, track progress, set goals, and show off your finished piece!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account and start planning!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Public tutorials</h2>
        <p>See what others have made and how to do it yourself! You can also share your own projects for others to try!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Check out upcoming events near you to network or sell your crafts</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>